body {
    background-color: yellow;
}

/* Set padding to keep content from hitting the edges */
.body-content {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
}

h1 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
